<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %> 
<body>
    <header>
        <nav>
            <a href="./productos">productos</a>
        </nav>
    </header>
    <main>
        <h1>Home</h1>
        <h2>Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, odio?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, odio?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, odio?</p>
    </main>
    <footer>

    </footer>
</body>
</html>