<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
        </nav>
    </header>
    <main>
        <h1>Productos</h1>
        <table>

            
            <tr>
            <td>producto</td>
            <td>precio</td>
            </tr>
            <tr>
                <td>Play Station 4</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>xbox one x</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>Nintendo switch</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>GameBoy</td>
                <td>400€</td>
            </tr>
            <tr>
                <td>NES</td>
                <td>400€</td>
            </tr>
            <tr>
                <td>Nintendo DS</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>Wii</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>Wii U</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>PC</td>
                <td>1400€</td>
            </tr>
            <tr>
                <td>Portatil</td>
                <td>1400€</td>
            </tr>
        </table>
    </main>
    <footer>

    </footer>
</body>
</html>